extends layout

block content
	script(src="main.js")
	#dive-select
	#dive-form.form-wrapper
		h3.instruction-text Fill out dive details...
		form.form-inline.dive-form-data
			.form-group
				label.form-label Date
				input.form-control.form-input(name="date",type="date",placeholder="Date")
			.form-group
				label.form-label Time In
				input.form-control.form-input(name="timeIn",type="time")
			.form-group
				label.form-label Time Out
				input.form-control.form-input(name="timeOut",type="time")
			.form-group
				label.form-label Air Type
				select.form-control.form-input(name="airType")
					option air
					option nitrox
					option tri-mix
			.form-group
				label.form-label Tank Pressure Start (psi)
				select.form-control.form-input(name="pStart")
					option 3500
					option 3400
					option 3300
					option 3200
					option 3100
					option 3000
					option 2900
					option 2800
					option 2700
					option 2600
					option 2500
					
			.form-group
				label.form-label Tank Pressure End (psi)
				select.form-control.form-input(name="pEnd")
					option 100
					option 200
					option 300
					option 400
					option 500
					option 600
					option 700
					option 800
					option 900
					option 1000
					option 1100
					option 1200
					option 1300
					option 1400
					option 1500
			.form-group
				label.form-label Weight (lbs.)
				select.form-control.form-input(name="weight")
					option 0
					option 1
					option 2
					option 3
					option 4
					option 5
					option 6
					option 7
					option 8
					option 9
					option 10
					option 11
					option 12
					option 13
					option 14
					option 15
					option 16
					option 17
					option 18
					option 19
					option 20

			.form-group
				label.form-label Suit Type
				select.form-control.form-input(name="suitType")
					option swimsuit
					option swimsuit w/ shirt
					option short wetsuit 3mm
					option short wetsuit 5mm
					option long wetsuit 3mm
					option long wetsuit 5mm
					option long wetsuit 6mm
					option drysuit

			.form-group
				label.form-label Dive Type
				select.form-control.form-input(name="diveType")
					option boat
					option shore
					option liveaboard
			.form-group
				label.form-label Water Type
				select.form-control.form-input(name="wType")
					option salt
					option fresh
			.form-group
				label.form-label Dive Conditions
				select.form-control.form-input(name="diveConditions")
					option current
					option surge
					option waves
			.form-group
				label.form-label Water Temp. (F)
				select.form-control.form-input(name="tWater")
					option 50
					option 55
					option 60
					option 65
					option 70
					option 75
					option 80
					option 85
					option 90
			.form-group
				label.form-label Air Temp. (F)
				select.form-control.form-input(name="tAir")
					option 50
					option 55
					option 60
					option 65
					option 70
					option 75
					option 80
					option 85
					option 90
			.form-group
				label.form-label Visibility (ft.)
				select.form-control.form-input(name="visibility")
					option 10
					option 20
					option 30
					option 40
					option 50
					option 60
					option 70
					option 80
					option 90
					option 100
					option 110
					option 120
			.form-group
				label.form-label Dive Computer Make/Model
				input.form-control.form-input(name="diveCompType",type="text",placeholder="pull from selected dive")
			.form-group
				label Max. Depth
				select.form-control.form-input(name="diveMaxDepth")
					option 20
					option 30
					option 40
					option 50
					option 60
					option 70
					option 80
					option 90
					option 100
					option 110
					option 120
			.form-group
				label.form-label Buddy's Cert.#
				input.form-control.form-input(name="verifNo")
			.form-group
				label.form-label Notes
				input.form-control.form-input(name="notes",rows="2")
			.form-group
				label.form-label Rating
				select.form-control.form-input(name="rating")
					option 1
					option 2
					option 3
					option 4
					option 5
			input.btn.btn-danger.form-input(type="submit", value="Log it !")
	#leaflet-map
	#instruction-wrapper
		p.instruction-text-sm STEP 1 --> Click New Dive button ... STEP 2 --> Zoom in on map near your dive ... STEP 3 --> click on map to search for known dive sites ...	
	.button-container
		button(class="btn btn-danger newDive", type="submit") New Dive