doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title AquaBook
		
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="mainNav.css")
		link(rel="stylesheet", href="leaflet.css")
		link(rel="stylesheet", href="main.css")
		link(rel="shortcut icon", type="image/x-icon", href="../images/favicon.ico")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
		script(src="/javascripts/leaflet.js")
		
	body
		.wrapper
			.sidebar
				.title MENU
					ul.nav
						li
							a(href="/DiveMap").nav-dive-map.nav-item Dive Map
						li
							a(href="/").nav-new-dive.nav-item New Dive
						li
							a(href="/Logbook").nav-log-book.nav-item Log Book
						li
							a(href="/Stats").nav-stats.nav-item Statistics
						//- li
						//- 	a(href="/DiverInfo").nav-diver-info Diver Info
						li
							a(href="/Logout").nav-logout Logout
			.content
				#header
					//- .hamburger-wrapper
						//- a.button
					.banner
						.image-wrapper.hamburger
							a.button
						.image-wrapper.dive-flag
							img(src="../images/diveFlag.png" width="65px" height="55px" style="border: 1px solid #071065; margin:0 0 5px 0;")
						.title-wrapper
							h1.banner-title AQUABOOK
						.image-wrapper.diver
							img(src="../images/diver.png" width="65px" height="60px" style="margin:0 0 7px 0;")
						.image-wrapper.user-info
							p Logged in as: #{user.username}
				//- h2 Free SCUBA activity log
				block content
		script(src="nav.js")
		block scripts
		