doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Digital Dive Book
		
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="mainNav.css")
		link(rel="stylesheet", href="leaflet.css")
		link(rel="stylesheet" href="main.css")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
		script(src="/javascripts/leaflet.js")
		
	body
		.wrapper
			.sidebar
				.title Sidebar
					ul.nav
						li
							a(href="/DiveMap").nav-dive-map Dive Map
						li
							a(href="/Logbook").nav-log-book Log Book
						li
							a(href="/").nav-new-dive New Dive
						li
							a(href="/Stats").nav-stats Statistics
						li
							a(href="/DiverInfo").nav-diver-info Diver Info
						li
							a(href="/Logout").nav-logout Logout
			.content.isOpen
				a.button
				h1 FREE SCUBA LOGBOOK
				h2 Lightweight, simple, easy to use
				block content
		block scripts
		