doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Digital Dive Book
		link(rel="stylesheet", type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="leaflet.css")
		link(rel="stylesheet" href="main.css")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
		script(src="/javascripts/leaflet.js")
		script(src="main.js")


	body
		block content
		