doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title DiveBook
    
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet", type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
    script(src="login.js")
    
  body
    .login-background(style="background-image: url('../images/login-background.png'); background-repeat: no-repeat;")
      .login-title
      if error
        h3= error
      #login-form(style="display:block ; float:none ; margin:0 auto")
        h1 Log In
        form(action="/auth/login", method="post")
          input(type="text", name="username", placeholder="Username")
          br
          input(type="password", name="password", placeholder="Password")
          br
          input(type="submit")

      #register-form(style="display : inline-block")
        h1 Create New Profile
        form(action="/auth/signup", method="post")
          input(type="text", name="username", placeholder="Username")
          br 
          input(type="email", name="email", placeholder="Email")
          br
          input(type="password", name="password", placeholder="Password")
          br 
          input(type="submit")