#leaflet-map {
		display: block;
		margin: 0 auto;
		height: 30em;
		width: 60em;
		border: 2px solid black;
		box-shadow:10px 10px 5px #888888;
	}
#leaflet-map.bigMap{
		display: block;
		margin: 0 auto;
		height: 40em;
		width: 80em;
		border: 2px solid black;
		box-shadow:10px 10px 5px #888888;
}

#dive-select {
	display : none;
	margin: 20px auto;
	width:50em;
	min-height: 110px;
	background-color:white;
	border: 2px solid black;
}

.select-dive-item {
	display:inline-block;
	margin: 5px;
	width:300px;
	height:40px;
	border: 1px solid black;
	background-color: darkgrey;
	color: white;
	font-weight: bolder;
	text-align:center;
	padding:5px;
}

#dive-form {
	display : none;
	margin: 20px auto;
	width:70em;
	min-height: 30px;
	background-color:white;
	border: 2px solid black;
}

.action-btn {
	background-color:red;
	color:white;
	font-weight: bolder;
}